<!DOCTYPE html>
<html>

<head>
    <title>{{ article['title'] }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body>
    <div class="bg-gray-300 w-[1000px] mx-auto h-[750px] p-[30px] mt-[50px] text-xl">
        <p class="mb-[20px] font-bold">카테고리</p>
        <p class="mb-[20px] bg-gray-400 w-[450px] h-[50px] leading-[50px] indent-[10px]">{{ article['title'] }}</p>
        <p class="mb-[20px] font-bold">제목</p>
        <p class="mb-[20px] bg-gray-400 w-[450px] h-[50px] leading-[50px] indent-[10px]">{{ article['content'] }}</p>
        <p class="mb-[20px] font-bold">URL</p>
        <p class="mb-[20px] bg-gray-400 w-[450px] h-[50px] leading-[50px] indent-[10px]">{{ article['url'] }}</p>
        <p class="mb-[20px] font-bold">내용</p>
        <p class="mb-[20px] bg-gray-400 h-[250px] p-[10px]">{{ article['category'] }}</p>
    </div>
</body>

</html>