<!DOCTYPE html>
<html>

<head>
    <title>{{ article['title'] }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class = "bg-black flex justify-center items-center h-screen">
    <div class="bg-gray-300 w-[800px] h-[720px] mx-auto px-[20px] pt-5 rounded-lg shadow-lg" style="box-shadow: 0 10px 20px rgba(130, 130, 130, 0.3), /* 위 */
    0 -10px 20px rgba(130, 130, 130, 0.3), /* 아래 */
    -10px 0 20px rgba(130, 130, 130, 0.3), /* 왼쪽 */
    10px 0 20px rgba(130, 130, 130, 0.3) /* 오른쪽 */">
    <div class="mx-auto">
        <div>
            <p class="text-2xl mb-[10px] font-bold block">Category</p>
            <p class="mb-[10px] bg-gray-400 rounded-lg w-[450px] h-[50px] leading-[50px] indent-[10px]">{{ article['title'] }}</p>
            <p class="text-2xl mb-[10px] font-bold block">Title</p>
            <p class="mb-[10px] bg-gray-400 rounded-lg w-[450px] h-[50px] leading-[50px] indent-[10px]">{{ article['content'] }}</p>
            <p class="text-2xl mb-[10px] font-bold block">URL</p>
            <p class="mb-[10px] bg-gray-400 rounded-lg w-[450px] h-[50px] leading-[50px] indent-[10px]">{{ article['url'] }}</p>
            <p class="text-2xl mb-[10px] font-bold block">Content</p>
            <p class="mb-[20px] bg-gray-400 rounded-lg h-[250px] p-[10px]">{{ article['category'] }}</p>
        </div>
        <div class="flex justify-between mx-[120px]">
            <button type="submit" name="confirm" id="edit-btn" class="text-xl bg-green-400 w-[140px] h-[40px] rounded-lg font-bold">Modify</button>   
            <button type="submit" name="cancel" id="delete-btn" class="text-xl bg-gray-400 w-[140px] h-[40px] rounded-lg font-bold">Delete</button>     
        </div>
    </div>
        <script>
            const deleteBtn = document.getElementById('delete-btn');
            const editBtn = document.getElementById('edit-btn');
            const articleId = '{{ article["id"] }}';

            deleteBtn.addEventListener('click', () => {
                fetch(`/api/delete_article?id=${articleId}`, {
                    method: 'DELETE',
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.result === 'success') {
                        alert('글이 삭제되었습니다.');
                        window.location.href = '/mypage';
                    } else {
                        alert('글 삭제에 실패하였습니다.');
                    }
                });
            });

            editBtn.addEventListener('click', () => {
                window.location.href = `/rewrite?id=${articleId}`;
            });
        </script>
    </div>
</body>

</html>