<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<header>
		<h1>HOME</h1>
        <button type="submit" name="mypage" onclick="location.href='/mypage'">마이페이지</button>
        <button type="submit" name="logout" onclick="location.href='/'">로그아웃</button>
	</header>
	<main>
		<section id="search-section">
			<h2>Search Content</h2>
			<div id="search-bar">
				<input type="text" placeholder="Search...">
				<button type="submit">Search</button>
			</div>
		</section>
        <section id="content-section">
            <h2>Content</h2>
            {% for article in articles %}
            <div class="content-box" onclick="location.href='/content/{{ article._id }}'">
              <h3>{{ article.title }}</h3>
              <p>{{ article.content }}</p>
            </div>
            {% endfor %}
          </section>
        <button type="submit" name="makecontent" onclick="location.href='/write'">글쓰기</button>
	</main>
	<!-- JavaScript -->
	<script src="frontend/js/script.js"></script>
</body>
</html>
