<!DOCTYPE html>
<html>

<head>
    <title>User Page</title>
    <!-- CSS Stylesheet -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    ::-webkit-scrollbar {
        display: none;
    }
</style>

<body class="bg-black flex justify-center items-center h-screen">
    <div class="float-left">
        <header class="block overflow-hidden mb-[20px] mt-[20px]">
            <div class="float-left">
                <button class="bg-green-400 text-xl rounded-full w-[50px] h-[50px] shadow-sm" style="box-shadow: 
				0 10px 20px rgba(3, 210, 128, 0.2), /* 위 */
				0 -10px 20px rgba(3, 210, 128, 0.2), /* 아래 */
				-10px 0 20px rgba(3, 210, 128, 0.2), /* 왼쪽 */
				10px 0 20px rgba(3, 210, 128, 0.2) /* 오른쪽 */" type="submit" name="mypage" id="mypage"
                    onclick="location.href='/match'">
                    H
                </button>
            </div>
        </header>
        <div class="bg-gray-300 w-[800px] h-[720px] mx-auto px-[20px] pt-5 rounded-lg shadow-lg overflow-auto" style="box-shadow: 0 10px 20px rgba(130, 130, 130, 0.3), /* 위 */
    0 -10px 20px rgba(130, 130, 130, 0.3), /* 아래 */
    -10px 0 20px rgba(130, 130, 130, 0.3), /* 왼쪽 */
    10px 0 20px rgba(130, 130, 130, 0.3) /* 오른쪽 */">
            <div class="block h-[180px]">
                <div class="float-left pt-[40px] h-[180px] px-[20px] border-r-2">
                    <p class="text-1xl mt-[15px]"><span class="text-3xl font-bold">{{ u_info.nickname }}</span>님의 page
                    </p>
                </div>
                <div id="user-info">
                    <div class="float-left pt-[15px] ml-[20px]">
                        <p class="hidden" id="r_id">{{u_info.id}}</p>
                        <p class="text-x1 p-[5px]"><span class="font-bold text-xl">유저 닉네임 : </span> <span
                                class="text-xl">{{u_info.nickname}}</span></p>
                        <p class="text-x1 p-[5px]"><span class="font-bold text-xl">이메일 주소 : </span><span
                                class="text-xl">{{u_info.email}}</span></p>
                        <p class="text-x1 p-[5px]"><span class="font-bold text-xl">자신있는 분야 : </span><span
                                class="text-xl">{{u_info.strength}}</span></p>
                        <p class="text-x1 p-[5px]"><span class="font-bold text-xl">도움이 필요한 분야 : </span><span
                                class="text-xl">{{u_info.weakness}}</span></p>
                    </div>
                </div>
            </div>
            <hr class="border-[3px]">
            <main>
                <p class="mb-[10px] text-2xl text-center font-bold leading-[50px]">{{ u_info.nickname }}님이 작성한 게시글</p>
                {% for article in articles %}
                <section id="my-posts" class="cursor-pointer content-box rounded-lg">
                    <div class="content-box bg-white mb-[20px] rounded-lg overflow-hidden" onclick="location.href='/content?id={{ article.id }}'">
                        <h3 class="p-[10px] font-bold text-2xl float-left border-r-2">제목 : {{ article.title }}</h3>
                        <p class="p-[10px] text-xl float-left">내용 : {{ article.content }}</p>
                    </div>
                </section>
                {% endfor %}
            </main>
            <hr class="border-[3px] mb-[10px]">
            <div>
                <p class="text-2xl font-bold mb-[10px]">문의 제목</p>
                <input id="match_title" type="text" placeholder="제목" class="w-[760px] h-[40px] mb-[15px] indent-[10px] text-xl rounded-lg">
                <P class="text-2xl font-bold mb-[10px]">문의 내용</P>
                <textarea id="match_content" placeholder="내용" class="w-[760px] h-[100px] resize-none indent-[10px] text-xl rounded-lg"></textarea>
            </div>
            <div class="flex justify-between mx-[140px] mt-[30px]">
                <button class="text-xl bg-green-400 w-[140px] h-[40px] rounded-lg font-bold shadow-xl" onclick="sended()">매칭 요청</button>
                <button class="text-xl bg-gray-400 w-[140px] h-[40px] rounded-lg font-bold shadow-xl" onclick="location.href='/match'">뒤로 가기</button>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function sended() {

                let title = $("#match_title").val();
                let content = $("#match_content").val();
                let r_id = $("#r_id").text();


                $.ajax({
                    type: 'POST',
                    url: '/api/m_accept',
                    data: { title: title, content: content, r_id: r_id },
                })
                alert("매칭 요청 완료!");
                window.location.href = '/home';
            }
        </script>
</body>

</html>