<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Matching Page</title>

  <!-- jQuery 라이브러리 로드 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- jQuery UI 라이브러리 로드 -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
  .bg-gray-300 {
    /* 가운데 선 스타일 */
    position: relative;
    display: flex;
  }

  .bg-gray-300::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #fff;
    transform: translateX(-50%);
  }

  ::-webkit-scrollbar {
		display: none;
	}

</style>

<body class="bg-black flex justify-center items-center h-screen">
  <div class="float-left">
    <header class="block overflow-hidden mb-[20px] mt-[20px] mx-auto">
      <div class="float-left">
        <button class="bg-green-400 text-xl rounded-full w-[50px] h-[50px] shadow-sm" style="box-shadow: 
      0 10px 20px rgba(3, 210, 128, 0.2), /* 위 */
      0 -10px 20px rgba(3, 210, 128, 0.2), /* 아래 */
      -10px 0 20px rgba(3, 210, 128, 0.2), /* 왼쪽 */
      10px 0 20px rgba(3, 210, 128, 0.2) /* 오른쪽 */" type="submit" name="mypage" id="mypage"
          onclick="location.href='/home'">
          H
        </button>
      </div>
    </header>
    <div class="bg-gray-300 w-[800px] h-[720px] mx-auto pt-2 rounded-lg flex flex-row">
      <div id="match_box" class="w-1/2 flex flex-col">
        <div class="text-center text-4xl font-bold my-5 border-b-2 pb-4">매칭 추천!
        </div>
      </div>
      <div id="r_match_box" class="w-1/2 flex flex-col">
        <div class="text-center text-4xl font-bold my-5 border-b-2 pb-4">받은 매칭요청

        </div>
      </div>
    </div>
</body>

<div id="result"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    showList();
    receiveList();
  });

  function showList() {
    $.ajax({
      type: 'GET',
      url: '/api/match',
      success: function (response) {
        let list = response['m_list'];
        for (let i = 0; i < list.length; i++) {
          makeList(list[i]["nickname"], list[i]["strength"], list[i]["id"]);
        }
      }
    })
  }

  function receiveList() {
    $.ajax({
      type: 'GET',
      url: '/api/m_receive',
      success: function (response) {
        let list = response['matches'];
        for (let i = 0; i < list.length; i++) {
          makeList2(list[i]['title'], list[i]['content'], list[i]['new_id'])
        }
      }
    })
  }

  function makeList(nick, str, id) {
    let temp_html = `
    <div class="cursor-pointer text-center h-20 w-[350px] rounded-lg my-[20px] indent-3 bg-white mx-auto" onclick="location.href='/m_info?id=${id}'">
      <h3 class="text-3xl font-bold"><span class="text-2xl">닉네임</span> : ${nick}</h3>
		  <p class="text-2xl"><span class="text-xl">강점</span> : ${str}</p>
    </div>
    `
    $("#match_box").append(temp_html);
  }

  function makeList2(nick, str, id) {
    let temp_html = `
    <div class="cursor-pointer text-center h-20 w-[350px] rounded-lg my-[20px] indent-3 bg-white mx-auto" onclick="location.href='/m_accept?id=${id}'">
      <h3 class="text-3xl font-bold"><span class="text-2xl">제목</span> : ${nick}</h3>
		  <p class="text-2xl"><span class="text-xl">내용</span> : ${str}</p>
    </div>
    `
    $("#r_match_box").append(temp_html);
  }
</script>

</html>