<!DOCTYPE html>
<html>

<head>
	<title>User Page</title>
	<!-- CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="frontend/css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div class="bg-gray-300 w-[1200px] mx-auto mt-[50px] h-[700px] p-[50px]">
		<header class="block h-[180px]">
			<div id="user-info">
				<img src="user.png" alt="User Image" class="w-[150px] block h-[150px] float-left mr-[20px] bg-white">
				<div>
					<p class="text-3xl mb-[20px]">유저 이름 : {{ user_id }}</p>
					<p class="text-3xl">유저 닉네임 : {{ user_nickname }}</p>
				</div>
			</div>
		</header>
		<hr class="border-[3px]">
		<main>
			<section id="my-posts">
				<p>{{ user_id }}님이 작성한 게시글</p>
				{% for article in articles %}
				<div class="content-box" onclick="location.href='/correction?id={{ article.id }}'">
					<h3>{{ article.title }}</h3>
					<p>{{ article.content }}</p>
				</div>
				{% endfor %}
			</section>
		</main>
	</div>
	  
</body>

</html>