<!DOCTYPE html>
<html>

<head>
	<title>User Page</title>
	<!-- CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="frontend/css/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
	::-webkit-scrollbar {
		display: none;
	}
</style>

<body class="bg-black flex justify-center items-center h-screen">
	<div class="float-left">
		<header class="block overflow-hidden mb-[20px] mt-[20px]">
			<div class="float-left">
				<button class="bg-green-400 text-xl rounded-full w-[50px] h-[50px] shadow-sm" style="box-shadow: 
				0 10px 20px rgba(3, 210, 128, 0.2), /* 위 */
				0 -10px 20px rgba(3, 210, 128, 0.2), /* 아래 */
				-10px 0 20px rgba(3, 210, 128, 0.2), /* 왼쪽 */
				10px 0 20px rgba(3, 210, 128, 0.2) /* 오른쪽 */" type="submit" name="mypage" id="mypage"
					onclick="location.href='/home'">
					H
				</button>
			</div>
		</header>
		<div class="bg-gray-300 w-[800px] h-[720px] mx-auto px-[20px] pt-5 rounded-lg shadow-lg overflow-auto " style="box-shadow: 0 10px 20px rgba(130, 130, 130, 0.3), /* 위 */
		0 -10px 20px rgba(130, 130, 130, 0.3), /* 아래 */
		-10px 0 20px rgba(130, 130, 130, 0.3), /* 왼쪽 */
		10px 0 20px rgba(130, 130, 130, 0.3) /* 오른쪽 */">
			<div id="user-info" class="block h-[180px] bg-white mb-[30px] rounded-lg">
				<div>
					<div class="float-left pt-[40px] h-[180px] px-[20px] border-r-2">
						<p class="text-1xl mt-[15px] p-[10px]"><span class="text-3xl font-bold">{{ user_nickname }}</span> 님의 페이지</p>
					</div>
					<div class="float-left pt-[8px]">
						{% for user_in in user_info %}
						<p class="text-1x1 my-[5px] p-[10px]"><span class="font-bold text-xl">Email address :</span> <span class="text-xl">{{ user_in.email }}</span></p>
						<p class="text-1x1 my-[5px] p-[10px]"><span class="font-bold text-xl">자신있는 분야 :</span> <span class="text-xl">{{ user_in.strength }}</span></p>
						<p class="text-1x1 my-[5px] p-[10px]"><span class="font-bold text-xl">도움이 필요한 분야 :</span> <span class="text-xl">{{ user_in.weakness }}</span></p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div>
				<p class="mb-[30px] text-2xl text-center">--------{{ user_id }}님이 작성한 게시글--------</p>
				<section id="my-posts" class="cursor-pointer content-box rounded-lg">
					{% for article in articles %}
					<div class="content-box bg-white mb-[20px] rounded-lg overflow-hidden"
						onclick="location.href='/correction?id={{ article.id }}'">
						<h3 class="p-[10px] font-bold text-2xl float-left border-r-2">제목 : {{ article.title }}</h3>
						<p class="p-[10px] text-xl float-left">내용 : {{ article.content }}</p>
					</div>
					{% endfor %}
				</section>
			</div>
		</div>
	</div>
	  
</body>

</html>