<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script>
    function post_signup() {
        let id = $("#post-id").val();
        let password = $("#post-password").val();
        let check_password = $("#post-check_password").val();
        let nickname = $("#post-nickname").val();
        let name = $("#post-name").val();
        let email = $("#post-email").val();
        let strength = $('input[name="strength"]:checked').val();
        let weakness = $('input[name="weakness"]:checked').val();

        if (password != check_password) {
            alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
            return;
        }

        // 2. memo에 POST 방식으로 메모 생성 요청하기
        $.ajax({
            type: "POST",
            url: "/api/check_duplication",
            data: { id: id, nickname: nickname },
            success: function (response) {
                if (response.result === "success") {
                    // No duplication
                    $.ajax({
                        type: "POST",
                        url: "/api/signup",
                        data: { id_give: id, password_give: password, check_password_give: check_password, nickname_give: nickname, name_give: name, email_give: email, strength_give: strength, weakness_give: weakness },
                        success: function (response) {
                            if (response["result"] == "success") {
                                alert("회원가입 성공!");
                                window.location.href = '/';
                            } else {
                                alert("서버 오류!");
                            }
                        }
                    });
                } else {
                    // Duplication found
                    alert(response.message);
                }
            }
        });
    }
</script>

<body class = "bg-black flex justify-center items-center h-screen">
    <main class="bg-gray-300 w-[400px] h-[950px] mx-auto px-[20px] pt-5 rounded-lg shadow-lg" style="box-shadow: 0 10px 20px rgba(130, 130, 130, 0.3), /* 위 */
    0 -10px 20px rgba(130, 130, 130, 0.3), /* 아래 */
    -10px 0 20px rgba(130, 130, 130, 0.3), /* 왼쪽 */
    10px 0 20px rgba(130, 130, 130, 0.3) /* 오른쪽 */">
        <h1 class="text-center text-4xl font-bold mb-[20px]">Sign Up</h1>
        <label for="id" class="text-2xl mb-[10px] font-bold">ID</label>
        <input type="text" id="post-id" name="id" required class="h-10 w-[360px] rounded indent-3 mb-[20px]"
            placeholder="아이디를 입력해주세요.">
        <br/>
        <label for="password" class="text-xl mb-[10px] font-bold">Password</label>
        <input type="password" id="post-password" name="password" required
            class="h-10 w-[360px] rounded mb-[20px] indent-3" placeholder="비밀번호를 입력해주세요.">
        <br/>
        <label for="check_password" class="text-xl mb-[10px] font-bold">Check Password</label>
        <input type="password" id="post-check_password" name="check_password" required
            class="h-10 w-[360px] rounded mb-[20px] indent-3" placeholder="비밀번호를 재입력해주세요.">
        <br/>
        <label for="nickname" class="text-xl mb-[10px] font-bold">Nickname</label>
        <input type="text" id="post-nickname" name="nickname" required class="h-10 w-[360px] rounded mb-[20px] indent-3"
            placeholder="다른 사용자에게 보여지는 별명입니다.">
        <br/>   
        <label for="name" class="text-xl mb-[10px] font-bold">Name</label>
        <input type="text" id="post-name" name="name" required class="h-10 w-[360px] rounded mb-[20px] indent-3"
            placeholder="성함을 입력해주세요.">
        <br/>
        <label for="email" class="text-xl mb-[10px] font-bold">Email</label>
        <input type="text" id="post-email" name="email" required class="h-10 w-[360px] rounded mb-[20px] indent-3"
            placeholder="이메일 주소를 입력해주세요.">
        <p class="text-2xl mb-[10px] font-base font-bold">자신 있는 분야</p>
        <div class="mb-[20px] text-sm font-bold h-10 w-[360px] rounded bg-white pt-[10px] pl-[5px]">
            <label for="frontend">프론트엔드</label>
            <input type="radio" id="frontend" name="strength" value="frontend" class="mr-[10px]">
            <label for="backend">백엔드</label>
            <input type="radio" id="backend" name="strength" value="backend" class="mr-[10px]">
            <label for="server">서버</label>
            <input type="radio" id="server" name="strength" value="server" class="mr-[10px]">
            <label for="database">데이터베이스</label>
            <input type="radio" id="database" name="strength" value="datebase" class="mr-[10px]">
        </div>
        <p class="text-2xl mb-[10px] font-base font-bold">배우고 싶은 분야</p>
        <div class="mb-[20px] text-sm font-bold h-10 w-[360px] rounded bg-white pt-[10px] pl-[5px]">
            <label for="frontend2">프론트엔드</label>
            <input type="radio" id="frontend2" name="weakness" value="frontend" class="mr-[10px]">
            <label for="backend2">백엔드</label>
            <input type="radio" id="backend2" name="weakness" value="backend" class="mr-[10px]">
            <label for="server2">서버</label>
            <input type="radio" id="server2" name="weakness" value="server" class="mr-[10px]">
            <label for="database2">데이터베이스</label>
            <input type="radio" id="database2" name="weakness" value="datebase" class="mr-[10px]">
        </div>
        <div class="">
            <button type="submit" name="confirm" onclick="post_signup()"
                class="text-xl bg-green-400 w-[360px] h-[40px] rounded-lg font-bold flex justify-center items-center lex justify-center items-center shadow-xl">가입완료</button>
            <br/>
            <button type="submit" name="return" onclick="location.href='/'"
                class="text-xl bg-gray-400 w-[360px] h-[40px] rounded-lg font-bold flex justify-center items-center lex justify-center items-center shadow-xl">취소</button>
        </div>
    </main>
</body>

</html>